* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-snap-points-y: none;
}

#top {
  width: 100%;
  height: 570px;
  background-image: url(back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#t1 {
  width: 100%;
  background: #2e2e2d;
  opacity: 0.85;
}

#nav {
  width: 980px;
  margin: 0 auto;
  height: 45px;
}

#t2 {
  width: 980px;
  margin: 0 auto;
  height: 50px;
  border-bottom: 1px solid white;
}

#left {
  font-size: 25px;
  color: white;
  float: left;
  line-height: 50px;
}

.right {
  line-height: 50px;
  font-size: 15px;
  color: white;
  float: right;
  margin-left: 25px;
}

#t3 {
  width: 840px;
  margin: 0 auto;
  margin-top: 45px;
}

#font {
  font-size: 43px;
  color: white;
  letter-spacing: 1px;
}

#mid {
  width: 100%;
}

#m1 {
  width: 100%;
  height: 275px;
  border-bottom: 1px solid #dcdcdc;
}

#kuang {
  width: 980px;
  margin: 0 auto;
  height: 172px;
  margin-top: 50px;
}

.kuangkuang {
  width: 29%;
  height: 172px;
  float: left;
  margin-right: 6.1%;
}

#kuangkuang3 {
  width: 29%;
  height: 172px;
  float: left;
}

.kt {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.ks {
  margin-top: 20px;
}

.kf {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

#m2 {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

#m3 {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

#m4 {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

#m5 {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
}

#m6 {
  width: 980px;
  margin: 0 auto;
  height: 246px;
}

#foot {
  width: 100%;
  height: 316px;
  background-color: #f2f2f2;
}

#suo {
  width: 817px;
  margin: 0 auto;
  height: 297px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#suotu {
  width: 400px;
  float: left;
}

#suozi {
  width: 408.5px;
  height: 295.5px;
  float: right;
}

#suozitop {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#suozisec {
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 35px;
}

.suoziblu {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

#ID {
  width: 817px;
  margin: 0 auto;
  height: 297px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#idtu {
  width: 400px;
  float: right;
}

#idzi {
  width: 408.5px;
  height: 295.5px;
  float: left;
}

#idzitop {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-weight: 500;
}

#idzisec {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.idziblu {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

#yun {
  width: 817px;
  margin: 0 auto;
  height: 347px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#yuntu {
  width: 400px;
  float: left;
}

#yunzi {
  width: 408.5px;
  height: 325.5px;
  float: right;
}

#yunzitop {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-weight: 500;
}

#yunzisec {
  font-size: 19px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 35px;
}

.yunziblu {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

#old {
  width: 980px;
  margin: 0 auto;
  height: 490px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#leftkuang {
  width: 45%;
  float: left;
}

#leftzitop {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 12px;
  font-weight: 500;
}

#leftzisec {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 28px;
}

.leftziblu {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
}

#rightkuang {
  width: 45%;
  float: right;
}

#rightzitop {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 12px;
  font-weight: 500;
}

#rightzisec {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 28px;
}

.rightziblu {
  font-size: 17px;
  font-weight: 500;
  color: #0070c9;
  letter-spacing: 0.5px;
}

#m6top {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-top: 35px;
}

.box {
  border: 1px solid gray;
  width: 80%;
  height: 50px;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
  background: white;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  opacity: 1;
}

input {
  text-align: 30px;
  font-size: 20px;
  line-height: 2rem;
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  margin-top: 8px;
  margin-left: 30px;
  color: none;
}

.haha {
  position: absolute;
  left: 6px;
  top: 3px;
}

#foottop {
  width: 980px;
  margin: 0 auto;
  height: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
}

#footmid {
  width: 980px;
  margin: 0 auto;
  height: 64%;
  border-bottom: 1px solid #dcdcdc;
}

#footbot {
  width: 980px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 24px;
}

#foottop img {
  float: left;
}

#foottop div {
  float: left;
  margin-left: 10px;
  line-height: 24px;
  margin-top: 4px;
}

.footkuang {
  width: 25%;
  float: left;
}

.kuangtop {
  font-size: 12px;
  font-weight: 550;
}

.kuangmid {
  font-size: 12px;
  margin-top: 6px;
}

#copy {
  float: left;
  font-size: 12px;
  color: gray;
}

.xiaohezi {
  float: left;
  font-size: 12px;
  width: 75px;
  text-align: center;
}

#xiaohezi {
  border-left: 0;
}

.jiantou {
  color: gray;
  opacity: 0.7;
}

.navbox {
  width: 11%;
  float: left;
}

.navbo {
  float: left;
  width: 9%;
  height: 45px;
}

.navboxx {
  float: right;
  height: 45px;
  width: 11%;
}

.navboxxxx {
  float: left;
  width: 9%;
  height: 45px;
  display: none;
}

.navbox {
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 45px;
  width: 11%;
  height: 45px;
  margin-left: 1%;
  text-align: center;
}

.navboxxx {
  float: left;
  height: 45px;
  width: 8%;
  text-align: center;
}

.navboxx img {
  float: right;
}

#jishu {
  opacity: 0.6;
}

#t4 {
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
  display: none;
}

@media screen and (max-width: 655px) {
  #top {
    height: 327px;
  }
  #t3 {
    display: none;
  }
  #t4 {
    display: block;
  }
  #font1 {
    font-size: 30px;
    letter-spacing: 1px;
  }
  #m1 {
    padding-bottom: 50px;
  }
  #old {
    width: 304px;
    height: 780px;
  }
  #leftkuang {
    width: 300px;
    height: 360px;
  }
  #leftkuang img {
    width: 357px;
    height: 170px;
  }
  #rightkuang img {
    width: 357px;
    height: 170px;
  }
  #rightkuang {
    width: 300px;
    height: 360px;
  }
  #old1 {
    margin-left: 150px;
  }
  #old2 {
    margin-left: 150px;
  }
  #m5 {
    height: 850px;
  }
  #leftzi {
    float: left;
    margin-left: 20px;
  }
  #rightzi {
    float: left;
    margin-left: 20px;
  }
}
