@media screen and (max-width: 768px) {
  .navbox {
    display: none;
  }
  .navbo {
    width: 45%;
    text-align: center;
  }
  .navboxxxx {
    display: block;
    margin-top: 10px;
  }
  .navboxxx {
    display: none;
  }
  .navboxx {
    float: left;
  }
  .footkuang {
    width: 100%;
    border-bottom: 1px solid #dedede;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    margin-left: 0.8%;
  }
  .kuangmid {
    display: none;
  }
  #copy {
    width: 100%;
    margin-left: 1.2%;
    margin-top: 30px;
  }
  #footmid {
    height: 50%;
  }
}
